<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Diary</title>
    <link rel="stylesheet" href="/styles/general.css">
</head>
<body>
    {{> header}}
    <main>
        <section>
            <h1>My Diary</h1>
            <p>Добро пожаловать в <strong>My Diary</strong> — ваше личное пространство для ведения дневника и заметок. С <strong>My Diary</strong> вы можете легко сохранять свои мысли, планы и воспоминания в одном удобном месте.</p>
            <div><button>Подробнее</button><button>Начать</button></div>
        </section>
        <section>
            <h2>Преимущества использования My Diary:</h2>
            <ul>
                <li><strong>Удобство и простота:</strong> Ведите записи легко и быстро, благодаря интуитивно понятному интерфейсу.</li>
                <li><strong>Адаптивность:</strong> Доступ к вашим заметкам с любого устройства — будь то компьютер, планшет или смартфон.</li>
                <li><strong>Организация заметок:</strong> Используйте теги и даты для удобной организации и быстрого поиска ваших записей.</li>
                <li><strong>Безопасность:</strong> Ваши данные надежно защищены, и только вы имеете к ним доступ.</li>
                <li><strong>Поддержка:</strong> Наш бот в Telegram всегда готов помочь вам с вопросами и предложениями.</li>
            </ul>
        </section>
        <section>
            <h2>Посмотрите, как My Diary может стать частью вашей повседневной жизни.</h2>
            <code>(Карусель изображений: Примеры интерфейса для создания заметок, поиска по тегам, использования мобильной версии и т.п.)</code>
        </section>
        <section>
            <h2>Как это работает?</h2>
            <ol>
                <li>Зарегистрируйтесь: Создайте свой личный аккаунт и начните вести записи.</li>
                <li>Создавайте заметки: Записывайте свои мысли, идеи и планы в удобной форме.</li>
                <li>Организуйте: Используйте теги и категории для систематизации заметок.</li>
                <li>Ищите и находите: Быстро находите нужные записи с помощью встроенного поиска.</li>
                <li>Получайте помощь: В случае вопросов обращайтесь к нашему Телеграм-боту.</li>
            </ol>
        </section>
        <section>
            <h2>Наши пользователи уже оценили удобство My Diary.</h2>
            <code>(Карточки с отзывами: Отзывы с именем, аватаром пользователя и текстом отзыва.)</code>
        </section>
        <section>
            <h2>Присоединяйтесь к сообществу My Diary сегодня!</h2>
            <button>Зарегистрироваться</button>
        </section>
    </main>
    {{> footer}}
</body>
</html>