.wrap {
    display: flex;
    flex-direction: column;
}
main {
    overflow-y: auto;
    scrollbar-width: none;
}
main::-webkit-scrollbar {
    display: none;
}
.content {
    max-width: 732px;
    margin: 0 auto;
    position: relative;
    padding: 21px 0;
    width: 100%;
    flex-grow: 1;
}
article h1 {
    font-size: 32px !important;
    margin: 21px 0 12px;
    line-height: 34px;
    margin-bottom: 15px;
}
.label::after {
    content: attr(data-label);
    position: absolute;
    color: #737473;
    border-right: 1px solid rgba(115, 116, 115, .15);
    right: 100%;
    padding: 0 12px;
    font-weight: 400;
    margin: 0 21px;
}
article {
    word-wrap: break-word;
}
address {
    color: rgb(153, 144, 131);
    font-style: normal;
}
.tags {
    margin: 12px 0 21px;
}
.tags, .tags-container {
    display: flex;
    gap: 10px;
}
#tag-input {
    border-radius: 16px;
    width: 100%;
    padding: 0 10px;
    display: none;
}
#editor {
    display: none;
}
#add-tag {
    display: none;
    cursor: pointer;
}
.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
}

.close {
    margin-left: 5px;
    cursor: pointer;
    transition-duration: .2s;
    display: none;
}

.close:hover {
    color: rgb(225, 101, 101);
}
.dark-theme .TMCommandButton_Inactive {
    background-color: rgb(28, 30, 31);
}
.dark-theme .TMCommandButton {
    fill: rgb(192, 186, 178);
    color: rgb(192, 186, 178);
}
.dark-theme .TMCommandButton_Active {
    background-color: rgb(42, 45, 47);
}
.dark-theme .TMCommandButton_Inactive:hover {
    fill: rgb(232, 230, 227);
    background-color: rgb(33, 35, 37);
}
aside {
    position: fixed;
    left: 50%;
    top: 70px;
    right: 0;
    margin: 46px 0 0 376px;
}
[contenteditable]:focus {
    outline: 0px solid transparent;
}
.spot {
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    filter: blur(100px);
    opacity: .5;
}
#spot1 {
    left: 10%;
    bottom: 10%;
    box-shadow: 0 0 300px var(--bg-color);
    background: var(--bg-color);
    width: 300px;
    height: 300px;
}
#spot2 {
    right: 5%;
    bottom: 50%;
    box-shadow: 0 0 500px var(--color);
    background: var(--color);
    width: 500px;
    height: 500px;
}