* {
    padding: 0;
    margin: 0;
}

body {
    /* background-color: #181a1b; */
    background-color: #f0f0f0;
    /* color: rgba(232, 230, 227, 0.8); */
    font-family: CustomSansSerif, 'Lucida Grande', Arial, sans-serif;
}

main {
    min-height: calc(100vh - 100px);
}

/* DARK THEME PALLETE */
h1 { color: #000000; font-weight: bold !important; }
h2 { color: #1a1a1a; font-weight: bold !important; }
h3 { color: #333333; font-weight: bold !important; }
h4 { color: #4d4d4d; font-weight: bold !important; }
h5 { color: #666666; font-weight: bold !important; }
h6 { color: #808080; font-weight: bold !important; }
.dark-theme h1 { color: #ffffff; }
.dark-theme h2 { color: #f0f0f0; }
.dark-theme h3 { color: #e0e0e0; }
.dark-theme h4 { color: #d0d0d0; }
.dark-theme h5 { color: #c0c0c0; }
.dark-theme h6 { color: #b0b0b0; }

.dark-theme header a {
    color: #fff;
}
.dark-theme body, .dark-theme footer {
    color: #fff;
    background-color: rgb(27, 29, 30);
}
.dark-theme .bg-slate-50, .dark-theme body {
    background-color: #151617;
}
.dark-theme .weekdays div {
    background-color: rgb(32, 35, 37);
}
.dark-theme .text-\[\#0e141b\] {
    color: rgb(219, 216, 211);
}
.dark-theme .bg-\[\#e7edf3\] {
    background-color: rgb(34, 37, 38);
}
.dark-theme .days div.current-day {
    outline-color: rgb(140, 130, 115);
}
.dark-theme .line {
    background-color: rgb(54, 59, 61);
}
.dark-theme .bg-\[\#ffe0e4\] {
    background-color: rgb(50, 28, 28);
}
.dark-theme .days div.existing-day {
    background-color: var(--bg-color);
}
.dark-theme .text-\[\#4e7397\] {
    color: rgb(from var(--color) calc(r + 50) calc(g + 50) calc(b + 50)) !important;
}
.text-\[\#4e7397\] {
    color: rgb(from var(--bg-color) calc(r + 50) calc(g + 50) calc(b + 50)) !important;
}
.dark-theme .modal {
    background-color: rgb(24, 26, 27);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px;
}
.dark-theme .slider {
    background-color: rgb(53, 57, 59);
}
.dark-theme .lang-btn {
    border-color: rgb(62, 68, 70);
    background-color: rgb(32, 35, 37);
}
.dark-theme .lang-btn:hover {
    background-color: rgb(42, 45, 47);
}
.dark-theme [type="text"],
.dark-theme input:where(:not([type])), 
.dark-theme [type="email"], 
.dark-theme [type="url"], 
.dark-theme [type="password"], 
.dark-theme [type="number"], 
.dark-theme [type="date"], 
.dark-theme [type="datetime-local"], 
.dark-theme [type="month"], 
.dark-theme [type="search"], 
.dark-theme [type="tel"], 
.dark-theme [type="time"], 
.dark-theme [type="week"], 
.dark-theme [multiple], 
.dark-theme textarea, 
.dark-theme select {
    background-color: rgb(24, 26, 27);
    border-color: rgb(101, 94, 83);
    color: #f0f0f0;
}
.dark-theme .theme-buttons {
    color: #000;
}
.dark-theme zero-md::shadow .markdown-body {
    color: #fff !important;
}
.dark-theme .dropdown {
    background-color: rgb(24, 26, 27);
    color: rgb(232, 230, 227);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
}
.dark-theme .dropdown a {
    color: rgb(232, 230, 227);
}
.dark-theme .dropdown a:hover {
    background-color: #202325;
}
.dropdown a.text-\[\#F05252\] {
    color: #F05252;
}
.dark-theme #tag-input {
    background-color: transparent;
    color: #fff;
}
.dark-theme .tag {
    color: #fff;
}
.dark-theme .TinyMDE {
    background-color: rgb(24, 26, 27);
    color: rgb(232, 230, 227);
}
.dark-theme .TMCommandBar {
    background-color: rgb(28, 30, 31);
    border-color: rgb(50, 54, 56);
}

.dark-theme .search-dropdown,
.dark-theme .account-dropdown {
    background-color: #555;
    color: white;
}

.dark-theme .account-dropdown a {
    color: white;
}

.dark-theme .account-dropdown a:hover {
    background-color: #666;
}

/* Buttons */
.action-btn {
    color: rgb(36, 36, 36);
    border: 2px solid #7b7265;
    background-color: rgb(225, 225, 225);
    font-weight: 600;
    font-style: normal;
    font-size: 17px;
    border-radius: 16px;
    text-transform: uppercase;
    padding: 4px 12px;
    margin: 0 0 15px;
    cursor: pointer;
    transition-duration: .2s;
    display: block;
}
.dark-theme .action-btn {
    color: rgb(232, 230, 227);
    background-color: rgb(24, 26, 27);
}
.action-btn:hover {
    background-color: #cbcbcb;
}
.dark-theme .action-btn:hover {
    background-color: #3a3a3a;
}
.btn-danger {
    color: #fff !important;
    background-color: #F05252;
    padding: 4px 16px;
    border-radius: 10px;
}
.btn-danger:hover {
    background-color: #c64343;
}
.dark-theme .btn-danger:hover {
    background-color: rgb(180, 64, 64);
}
.btn-success {
    color: rgb(101, 225, 124) !important;
    border: 2px solid #3b8536;
}
.btn-success:hover {
    background-color: #1c411e !important;
}

/* Стиль для модального окна */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 33vw;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.modal-content p {
    margin-bottom: 20px;
}

.modal-content div {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

/* Стиль для затемненного фона */
.overlay {
    display: none;
    position: fixed;
    z-index: 500;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

/* SETTINGS */
#settings {
    width: 25vw;
}
/* Кнопки оформления */
.theme-picker div {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
}
.theme-picker button, input[type="color"] {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
    transition-duration: .2s;
}
.theme-picker button:hover, input[type="color"]:hover {
    filter: brightness(120%);
}
/* Языковые кнопки */
.language-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.lang-btn {
    padding: 5px 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color .2s ease;
}

.lang-btn:hover {
    background-color: #e0e0e0;
}

/* Иконки флагов */
.flag {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 8px;
    background-size: cover;
}

.flag-en {
    background-image: url('https://cdn-icons-png.flaticon.com/512/197/197374.png');
}
.flag-ru {
    background-image: url('https://cdn-icons-png.flaticon.com/512/4628/4628645.png');
}
.flag-fr {
    background-image: url('https://cdn-icons-png.flaticon.com/512/197/197560.png');
}
.flag-de {
    background-image: url('https://cdn-icons-png.flaticon.com/512/4855/4855806.png');
}
.flag-it {
    background-image: url('https://cdn-icons-png.flaticon.com/512/323/323325.png');
}
.flag-es {
    background-image: url('https://cdn-icons-png.flaticon.com/512/10601/10601048.png');
}
.flag-pl {
    background-image: url('https://cdn-icons-png.flaticon.com/512/4628/4628690.png');
}
.flag-jp {
    background-image: url('https://cdn-icons-png.flaticon.com/512/197/197604.png');
}

/* Переключатель */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
}

/* Визуальный слайдер */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 24px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--color);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* SEARCH */
.entry {
    cursor: pointer;
}
.entry:hover {
    background-color: #ccc;
}
.tag {
    position: relative;
    display: flex;
    align-items: center;
    background-color: rgba(115, 116, 115, .4);
    border-radius: 16px;
    padding: 2px 7px;
}
.tags-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
address {
    color: rgb(153, 144, 131);
    font-style: normal;
}
.tag {
    position: relative;
    display: flex;
    align-items: center;
    background-color: rgba(190, 190, 190, 0.4);
    border-radius: 16px;
    padding: 2px 7px;
    font-size: small;
}
.tag-active {
    background-color: var(--color);
}
#search-results {
    max-height: 20em;
}